@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");


body{
	font-family: 'Lato';
}

h1{
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
	margin: 0 0 40px 0;
	color: #1E212C;
}

h2{
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
	margin: 0 0 8px 0;
	color: #1E212C;
}

ul{
	margin: 0 0 48px 0;
}

li{
	font-size: 16px;
	line-height: 1.6;
	padding: 0 0 0 32px;
	margin: 0 0 12px 0;
	background: url('../img/bullet.png') 0 5.67px no-repeat;
	color: #424551;
}

.wrapper{
	max-width: 420px;
	margin: 0 auto;
	padding: 0 15px;
}

a{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 3.14;
	color: #ffffff;
	padding: 0 32px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
}