@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&display=swap');

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('/lesson_4/fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'), url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/lesson_4/fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 18px;
	line-height: 1.3;
	color: #404040;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.header ul{
	margin: 20px 0;
}

.header li{
	display: inline-block;
}

.header a{
	display: block;
	padding: 8px 24px;
	margin-right: 8px;
}

#link1{
	background-color: red;
	color: white;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #404040;
}

#link2{
	background-color: blue;
	color: white;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #404040;
}

#link3{
	background-color: green;
	color: white;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #404040;
}

#link4{
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color: white;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #404040;
}

#link5{
	background: linear-gradient(15deg, #ebebeb 0%, #272727 100%);
	color: white;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #404040;
}

#link6{
	background: linear-gradient(45deg, #ffc400 0%, #67f89f 100%);
	color: #202020;
	border-radius: 4px;
	border: 2px solid #404040;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 3px #fff;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	line-height: 1;
	color: #000;
	margin: 0 0 8px 0;
	font-weight: 900;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 1;
	margin: 0 0 32px 0;
	font-weight: 500;
}

p{
	margin: 0 0 8px 0;
}

.bg{
	background: linear-gradient(90deg, white 0%, transparent 40%, transparent 60%, white 100%), url('../img/image.jpg');
	background-size: cover;
	padding: 32px 0;
	text-shadow: 1px 1px 3px #ffffff, -1px -1px 5px #000000;
}

.bg .wrapper{
	background: url('../img/bullet.png') 98% 100% / 30px no-repeat, url('../img/bullet.png') 2% 100% / 30px no-repeat,url('../img/bullet.png') 98% 0 / 30px no-repeat,url('../img/bullet.png') 2% 0 / 30px no-repeat;
}

.footer{
	background: linear-gradient(0deg, white 0%, black 100%);
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 24px;
	color: white;
	text-shadow: -1px -1px 5px #000000;
}

.footer .wrapper{
	background: linear-gradient(0deg, black 0%, white 100%);
	padding: 32px 15px;
}

.block {
	margin: 32px;
	padding: 16px;
	background: linear-gradient(45deg, rgb(255, 238, 0) 0%, rgb(131, 74, 0) 100%);;
	border-radius: 10px;
	border-top: 3px solid rgb(111, 131, 0);
	border-left: 3px solid rgb(111, 131, 0);
	border-right: 3px solid rgb(217, 255, 0);
	border-bottom: 3px solid rgb(217, 255, 0);
	box-shadow: 0 10px 30px rgba(0,0,0, 0.5);
}

.block img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px black, -2px -2px 2px white;
}

.block h3{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 1;
	font-weight: 900;
}

.block .left{
	margin: 12px 0 20px 16px;
}

.block .right{
	margin: 12px 16px 20px 0;
}